{% extends "base_generic.html" %}

{% block content %}
<div class ="container">
  <h4 class="text-center" style="margin-top:100px;">Please enter (and confirm) your new password</h4>
<div class = "row">
<div style="margin: 10px auto; border: 1px solid black; border-radius:7px; box-shadow: 10px 10px 20px #888888; width: 50%; ; background-color: #F8F9FA;">
    {% if validlink %}

        <!-- <p>Please enter (and confirm) your new password</p> -->
        <div style="width: 7s0%; margin:0 auto; padding-top: 35px; padding-bottom: 15px;padding-left: 25px; ">
        <form class="form-group" method="post">
            <div style="display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">
            </div>

            <div class="form-inline">


            <!-- <label style ="text-align: right;" for="id_new_password1">New password</label>

            {{ form.new_password1 }} -->

          <label for="id_new_password1" class="cols-sm-2 control-label">New password</label>
          <div class ="yo">
          <input name="new_password1" type="password" class="form-control" id="id_new_password1" placeholder="Enter new password " required />
            </div>
          <div class="status">{{ form.new_password1.errors }}</div>
            </div>
            <br>
            <br>
            <div class="form-inline">


            <!-- <label style="text-align: right;" for="id_new_password2">Confirm password</label>
            {{ form.new_password2 }} -->

              <label for="id_new_password2" class="cols-sm-2 control-label">Confirm password</label>
              <div class ="yo1">
              <input name="new_password2" type="password" class="form-control" id="id_new_password2" placeholder="Enter password again" required />
                </div>
               <div class="status">  {{ form.new_password2.errors }}</div>
          </div>
          <br>
          <br>
            <div class="form-group form-inline"  style="width: 40%; margin:0 auto;" >
            <input type="submit" class="btn btn-default btn-md" value="Change my password" />
          </div>


        </form>
    {% else %}
        <h1>Password reset failed</h1>
        <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
    {% endif %}
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
  <footer style="position:absolute; bottom:0;">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; Pocket Stock 2017. All Rights Reserved</p>
  </div>
</footer>
{% endblock %}
