{% extends "base_generic.html" %}
{% block content %}
<div class ="container">
  <div class="row" style="margin-top:35px;">
<br>
<br>
<br>
<h5>We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check if you have entered a registered email address. Alternatively, kindly check your spam folder .</h5>
</div>
</div>
{% endblock %}

{% block footer %}
  <footer style="position:absolute; bottom:0;">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; Pocket Stock 2017. All Rights Reserved</p>
  </div>
</footer>
{% endblock %}
