{% extends "base_generic.html" %}
{% block content %}
<br/>
<br/>
<br/>
  <div class ="container">
    <h5 style-"margin-top:100px;">The password has been changed!</h5>
  <div class="row">
  <br>
  <p><a href="{% url 'login' %}">Log in again?</a></p>
  </div>
  </div>
 {% endblock %}

 {% block footer %}
   <footer style="position:absolute; bottom:0;">
   <div class="container">
     <ul class="list-inline">
       <li class="list-inline-item">
         <a href="/">Home</a>
       </li>
       <li class="footer-menu-divider list-inline-item">&sdot;</li>
       <li class="list-inline-item">
         <a href="#about">About</a>
       </li>
       <li class="footer-menu-divider list-inline-item">&sdot;</li>
       <li class="list-inline-item">
         <a href="#services">Services</a>
       </li>
       <li class="footer-menu-divider list-inline-item">&sdot;</li>
       <li class="list-inline-item">
         <a href="#contact">Contact</a>
       </li>
     </ul>
     <p class="copyright text-muted small">Copyright &copy; Pocket Stock 2017. All Rights Reserved</p>
   </div>
 </footer>
 {% endblock %}
