{% extends "base_generic.html" %}

{% block content %}

<div class="container">
  <h4 class="text-center" style="margin-top:100px;">Forgot Password!</h4>
<div class="row">
  <div style="margin: 10px auto; border: 1px solid black; border-radius:7px; box-shadow: 10px 10px 20px #888888; width: 40%; ; background-color: #F8F9FA;">
  <!-- <div style="margin: 100px auto;"> -->
    <!-- <h1>Forgot Password</h1> -->
    <div style="width: 80%; margin:0 auto; padding-top: 25px; padding-bottom: 15px;">
  <form class="form-group" method="post">
    {% csrf_token %}
    <!-- {% if form.email.errors %} {{ form.email.errors }} {% endif %}
    <div class="form-group">
        <label for="id_email"><h5>Email ID</h5></label>
        <input name="email" type="email" class="form-control" id="id_email" placeholder="Enter registered Email Id " required /> -->
    <div class="form-inline">
          <label for="email" class="cols-sm-2 control-label">Email</label>
          <div class="yo">
            <input type="email" class="form-control" name="email" id="email" style="width: 250px" placeholder="Enter your registered Email Id" required/>
          </div>
          <div class="status">{{form.email.errors}}</div>
       </div>
       <br>
        <div class="form-group form-inline"  style="width: 40%; margin:0 auto;" >
         <button type="submit"class="btn btn-default btn-md login-button">Reset Password</button>
        </div>
         <!-- <input type="submit" class="btn btn-default btn-md" value="Reset password" /> -->



  </form>
</div>
</div>
</div>
</div>
{% endblock %}

{% block footer %}
  <footer style="position:absolute; bottom:0;">
  <div class="container">
    <ul class="list-inline">
      <li class="list-inline-item">
        <a href="/">Home</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#about">About</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#services">Services</a>
      </li>
      <li class="footer-menu-divider list-inline-item">&sdot;</li>
      <li class="list-inline-item">
        <a href="#contact">Contact</a>
      </li>
    </ul>
    <p class="copyright text-muted small">Copyright &copy; Pocket Stock 2017. All Rights Reserved</p>
  </div>
</footer>
{% endblock %}
