{% extends "dashboard.html" %}

{% block content %}
  {% load staticfiles %}
  <div class="container" style="padding:40px;">
     <div class="c" style="width:60%; margin: auto;  background-color: white; padding:20px;">
  <h1>Chat Room:</h1>
  <!--<p class="quiet">-->
    <!--Anyone with this URL can join the room and chat: -->
    <!--<code>{{ request.scheme }}://{{ request.get_host }}/chat/{{ room.label }}</code> -->
  <!--</p>-->
  <p>
    <label for="handle">Your Chat Name:</label>
    <input id="handle" type="text" placeholder="handle" value= {{request.user.username}} readonly>
  </p>
  <form id="chatform">
    <table id="chat">
      <tbody>
        {% for message in messages %}
          <tr>
            <td>{{ message.formatted_timestamp }}</td>
            <td>{{ message.handle }}</td>
            <td>{{ message.message }}</td>
          </tr> 
        {% endfor %}
      </tbody>
      <tfoot>
      <tr>
        <td>Say something:</td>
        <td colspan=2>
          <input id="message" type="text" placeholder="message">
          <button type="submit" id="go">Send!</button>
        </td>
      </tfoot>
    </table>
  </form>
  </div>
  </div>
{% endblock content %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>
  <script type="text/javascript" src='{% static "js/reconnecting-websocket.min.js" %}'></script>
  <script type="text/javascript" src='{% static "js/chat.js" %}'></script>
{% endblock scripts %}