{% extends 'dashboard.html' %}

{% block content %}
<div class="container" style="margin-top:50px;">
    <h2>{{ stockName }}&nbsp;({{tickerName}})</h2>
    <h3 style="margin-top:20px;">Overview</h3>
    <section>{{ overview }}</section>
    <strong style="margin-top:25px; font-size:18px;">Founded: {{ founded }}</strong>

    <div class="row">
        <div class="col-md-12">
          <canvas id="myChart"></canvas>
        </div>
    </div>
</div>
{% endblock %}
{% block scripts%}
    {% load staticfiles %}

 <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/search.js' %}"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.bundle.min.js"></script>

    {% load staticfiles %}
    <script src="{% static 'js/charts.js' %}"></script>
    <script>
       var my_data = "{{ finalData }}" ;// gets set by jinja
       my_data = JSON.parse(my_data.replace(/&quot;/g,'"'));
       console.log(my_data);
       displayGraph(my_data);
    </script>
{% endblock %}
